#ignored file extensions

*.sln
*.exe
*.user
*.filters
*.vcxproj
*.i
*.tlog
*.log
*.ilk
*.pch
*idb
*.pdb
*.jpeg
*.png
*.bmp
*.obj
*.o
*.vsidx
*.suo
*.db
*.ipch

# Configuration Directories

Debug/
Release/

# Platform Directories

x64/
x32/